#home {
    background-image: url("../img/home.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 570px;
    height:100vh;
    z-index:2;
    position:relative;
}

#sidebar-box {
    height:100vh;
}

#sidebar-container {
    display: inline-block;
    cursor: pointer;
    left:96%;
    transform: translateY(70%);
    z-index:4;
    position: relative;
}

.bar1, .bar2, .bar3 {
    width: 22px;
    height: 3px;
    color: #CD5360;
    background-color: #CD5360;
    margin: 3px 0;
    transition: 0.4s;
   /* position: fixed;
    z-index:40;*/

}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-5px, -5px);
    transform: rotate(45deg) translate(-5px, -5px);
}

.change .opaque-background {
    background-color: #3A3A3A;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 570px;
    height:100vh;
    /*z-index:2;*/
    /*position:relative;*/
    opacity: 0.5;
}

.change #hello {opacity: 0;}
.change .karina {opacity: 0;}
.change .scroll-to-learn {opacity: 0;}
.change .scroll-arrow {opacity: 0;}

#home-title-container-margin {
    position:relative;
    height:28%;
}

#home-title-container {
    height:40%;
    width: 100%;
    max-width:1000px;
    position:relative;
    left:50%;
    transform: translateX(-50%);
}

#hello-box {
    width:100%;
}

#hello-textbox {
    position:relative;
    width:100%;
    left: 30%;
    transform: translateX(-50%);
}

#hello {
    font-size: 6vw;
    text-align: center;
    color: #CD5360;
    line-height:0.5;
}

@media screen and (min-width: 1150px) {
    #hello {
        font-size:80px;
    }
}

#karina-textbox {
    position:relative;
    width:100%;
    left: 30%;
    transform: translateX(-50%);
}

.karina {
    font-size: 12vw;
    text-align: center;
    color: #286DA8;
    line-height:0.9;
    font-family: Futura;
}


#links-margin {
    height:30%;
}

#links-box {
    position:relative;
    width:100%;
    left: 30%;
    transform: translateX(-50%);
}

#links {
    /*max-width:300px;  */
    text-align: center;
}


#links a {
    text-decoration: none;
}

#links .link {
    object-fit:contain;
    max-height:100%;
    max-width:17.7%;
    padding-left: 0.5%;
    padding-right:0.5%;

}

#links .link:hover{
    opacity: 0.5;
}

@media screen and (max-width: 700px) {
    #links {
        position:relative;
        width:40%;
        left: 50%;
        transform: translateX(-50%);
    }

    #links .link {
        max-width:17.2%;
        padding-left:0.5%;
        padding-right:0.5%;
    }

    #container {
        position:relative;
        width:40%;
        left: 90%;
    }
}

/*scroll*/
#scroll-margin {
    height:8%;
    left:30%;
}
#scroll-box {
    width: 100%;
}
#scroll-textbox {
    position:relative;
    width:100%;
    left: 30%;
    transform: translateX(-50%);
}

#scroll-to-learn {
    color: #CD5360;
    font-size:15px;
    text-align:center;
    line-height:2;
}

@media screen and (max-width: 500px) {
    #scroll-to-learn {
        font-size:13px;
    }
}

#scroll-arrow {
    position:relative;
    display:block;
    height:22px;
    left:30%;
    transform: translateX(-50%);
}

#scroll-arrow:hover {
    opacity: 0.5;
}

@media screen and (max-width: 500px) {
    #scroll-arrow {
        height:15px;
    }
}



@media screen and (max-width:900px) {
    #home-title-container-margin {
        height:35%;
    }

    #home-title-container {
        height:35%;
    }
}